basePath: /v1
definitions:
  response.Response:
    properties:
      data: {}
      detail:
        type: string
      errors: {}
      title:
        type: string
    type: object
  tapmoney.InquiryRequest:
    properties:
      amount:
        maximum: 1000000
        minimum: 10000
        type: integer
      card_number:
        maxLength: 19
        minLength: 16
        type: string
      source_account:
        maxLength: 19
        minLength: 16
        type: string
    required:
    - amount
    - card_number
    - source_account
    type: object
  tapmoney.PaymentRequest:
    properties:
      amount:
        maximum: 1000000
        minimum: 10000
        type: integer
      notes:
        maxLength: 255
        type: string
      transaction_id:
        type: string
    required:
    - amount
    - transaction_id
    type: object
  transfer.InitiateRequest:
    properties:
      amount:
        maximum: 50000000
        minimum: 1000
        type: integer
      destination_account:
        type: string
      source_account:
        type: string
    required:
    - amount
    - destination_account
    - source_account
    type: object
  transfer.ProcessRequest:
    properties:
      amount:
        type: integer
      destination_account:
        type: string
      source_account:
        type: string
      uuid:
        type: string
    required:
    - amount
    - destination_account
    - source_account
    - uuid
    type: object
host: api.bankkrud.com
info:
  contact:
    email: billyimmcul2010@gmail.com
    name: Billy Kore
    url: https://www.swagger.io/support
  description: TapMoney service API specification.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://swagger.io/terms/
  title: API Specification
  version: "1.0"
paths:
  /tapmoney/inquiry:
    post:
      consumes:
      - application/json
      description: TapMoney transaction inquiry process
      parameters:
      - description: Inquiry Request
        in: body
        name: InquiryRequest
        required: true
        schema:
          $ref: '#/definitions/tapmoney.InquiryRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: TapMoney inquiry
      tags:
      - example
  /tapmoney/payment:
    post:
      consumes:
      - application/json
      description: TapMoney transaction payment process
      parameters:
      - description: Payment Request
        in: body
        name: PaymentRequest
        required: true
        schema:
          $ref: '#/definitions/tapmoney.PaymentRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: TapMoney payment
      tags:
      - example
  /transfer/{uuid}:
    get:
      consumes:
      - application/json
      description: Get transfer detail by uuid
      parameters:
      - description: Transfer UUID
        in: path
        name: uuid
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Get transfer detail
      tags:
      - transfer
  /transfer/init:
    post:
      consumes:
      - application/json
      description: Initiate transfer transaction
      parameters:
      - description: Initiate Transfer Request
        in: body
        name: InitiateRequest
        required: true
        schema:
          $ref: '#/definitions/transfer.InitiateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Initiate transfer
      tags:
      - transfer
  /transfer/process:
    post:
      consumes:
      - application/json
      description: Process transfer transaction
      parameters:
      - description: Process Transfer Request
        in: body
        name: ProcessRequest
        required: true
        schema:
          $ref: '#/definitions/transfer.ProcessRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Process transfer
      tags:
      - transfer
  /users/me:
    get:
      consumes:
      - application/json
      description: Get user by username
      parameters:
      - description: Fields
        in: query
        name: fields
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Get user by username
      tags:
      - user
schemes:
- http
- https
swagger: "2.0"
