basePath: /v1.0
definitions:
  response.ErrorResponse:
    properties:
      message:
        type: string
      name:
        type: string
    type: object
  response.Response:
    properties:
      data: {}
      error:
        $ref: '#/definitions/response.ErrorResponse'
      serverTime:
        type: integer
      success:
        type: boolean
    type: object
  tapmoney.InquiryRequest:
    properties:
      amount:
        type: integer
      card_number:
        type: string
      source_account:
        type: string
    type: object
  tapmoney.PaymentRequest:
    properties:
      amount:
        type: integer
      notes:
        type: string
      transaction_id:
        type: string
    type: object
  transfer.InitiateRequest:
    properties:
      amount:
        type: integer
      destination_account:
        type: string
      source_account:
        type: string
    type: object
  transfer.ProcessRequest:
    properties:
      amount:
        type: integer
      destination_account:
        type: string
      source_account:
        type: string
      transaction_id:
        type: string
    type: object
host: api.bankkrud.com
info:
  contact:
    email: billyimmcul2010@gmail.com
    name: Billy Kore
    url: https://www.swagger.io/support
  description: TapMoney service API specification.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://swagger.io/terms/
  title: API Specification
  version: "1.0"
paths:
  /tapmoney/inquiry:
    post:
      consumes:
      - application/json
      description: TapMoney transaction inquiry process
      parameters:
      - description: Inquiry Request
        in: body
        name: InquiryRequest
        required: true
        schema:
          $ref: '#/definitions/tapmoney.InquiryRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: TapMoney inquiry
      tags:
      - example
  /tapmoney/payment:
    post:
      consumes:
      - application/json
      description: TapMoney transaction payment process
      parameters:
      - description: Payment Request
        in: body
        name: PaymentRequest
        required: true
        schema:
          $ref: '#/definitions/tapmoney.PaymentRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: TapMoney payment
      tags:
      - example
  /transfer/init:
    post:
      consumes:
      - application/json
      description: Initiate transfer transaction
      parameters:
      - description: Initiate Transfer Request
        in: body
        name: InitiateRequest
        required: true
        schema:
          $ref: '#/definitions/transfer.InitiateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Initiate transfer
      tags:
      - transfer
  /transfer/process:
    post:
      consumes:
      - application/json
      description: Process transfer transaction
      parameters:
      - description: Process Transfer Request
        in: body
        name: ProcessRequest
        required: true
        schema:
          $ref: '#/definitions/transfer.ProcessRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Process transfer
      tags:
      - transfer
  /users/{username}:
    get:
      consumes:
      - application/json
      description: Get user by username
      parameters:
      - description: Username
        in: path
        name: username
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Get user by username
      tags:
      - user
schemes:
- http
- https
swagger: "2.0"
